<div id="content">
  <div id="header">
    <div id="name"><%= current_user.first_name %> <%= current_user.last_name.upcase %></div>
    <div id="email"><%= current_user.email %></div>
  </div>
  <div class="bar"></div>
  <div class="title">EDUCATION</div>
  <div class="bar"></div>
  <div class="title">EXPERIENCE</div>
  <div class="bar"></div>
  <div id="footer">
    <a id="linkedin-link" href='<%= current_user.linkedin_profile_url %>'>
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
