@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

#content {
  font-family: 'Roboto';
  font-size: 10pt;
  position: relative;
  height: 26.7cm;
}

#header {
  text-align: center;
}

#footer {
  text-align: center;
  margin-top: 3mm;
  position: absolute;
  bottom: 0;
  width: 19cm;
}

#name {
  font-weight: 900;
  font-size: 20pt;
  margin-bottom: 1mm;
}

#email {
  font-weight: 400;
  font-size: 12pt;
  margin-bottom: 12mm;
}

#linkedin-link {
  color: rgb(100, 100, 100);
  font-size: 25pt;
  margin-left: 2mm;
  &:hover {
    text-decoration: none;
    color: rgb(100, 100, 100);
  }
}

.bar {
  border-bottom: 0.3mm solid rgba(0, 0, 0, 0.9);
}

.title {
  font-weight: 900;
  font-size: 12pt;
  margin: 5mm 0 3mm 0;
}

// ELEMENTS

.element {
  width: 19cm;
  margin-bottom: 5mm;
  display: -webkit-box;
}

.date {
  width: 4cm;
  margin-right: 5mm;
  left: 0;
  font-size: 10pt;
}

.element-info {
  width: 14.5cm;
}

.degree, .position {
  font-weight: 500;
  margin-bottom: 2mm;
}

.institution {
  font-weight: 900;
  margin-bottom: 2mm;
}
