<!-- Banner -->
<div class="flex-banner">
  <h1>Welcome back <%= current_user.first_name %>!</h1>
  <a href="#" id="scroll-to-pick-a-template" class="custom-btn-big">Create new resume</a>
</div>
<!-- Steps -->
<div class="row banner-geometric-shape">
  <div class="col-xs-12 col-md-4 left-rectangle">
    <!-- Since the user is logged in, the first step is completed, so there is a tick
    istead of 1 -->
    <span class="step"><i class="fas fa-check"></i></span>
    <p>Login / Sign up</p>
  </div>
  <div class="col-xs-12 col-md-4 middle-rectangle">
    <span class="step">2</span>
    <p>Pick a template</p>
    <div class="triangle triangle-middle"></div>
  </div>
  <div class="col-xs-12 col-md-4 right-rectangle">
    <span class="step">3</span>
    <p>Download your resume!</p>
    <div class="triangle triangle-right"></div>
  </div>
</div>
<!-- Resume templates -->
<div class="container section-templates">
  <!-- Since the user is logged in, the first step is completed, so there is a 'Pick a template'
    istead of 'Some of our templates' -->
  <h3 class="template-intro-title">Pick a template</h3>
  <div class="row carousel-templates">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Finance</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Law</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Design</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Tech</h4>
    </div>
  </div>
  <%= link_to 'View my new resume', editor_path, class: 'custom-btn-big btn-to-editor' %>
</div>
