<%= link_to position_path(position), class: "position-show-link", id: "position-show-link-#{position.id}", remote: true do %>

  <div class="inlist-position" id="inlist-position-<%= position.id %>">

    <h4><%= position.company_name %></h4>

  </div>

<% end %>
