<!-- Banner -->
<div class="flex-banner">
  <h1 class="landing-title">Resume Factory</h1>
  <h2 class="landing-subtitle">Instantly create your resume with LinkedIn</h2>
  <%= link_to 'Create my resume', new_user_session_path, class: 'custom-btn-big' %>
</div>
<!-- Steps -->
<div class="row banner-geometric-shape">
  <div class="col-xs-12 col-md-4 left-rectangle">
    <span class="step">1</span>
    <p>Login / Sign up</p>
  </div>
  <div class="col-xs-12 col-md-4 middle-rectangle">
    <span class="step">2</span>
    <p>Pick a template</p>
    <div class="triangle triangle-middle"></div>
  </div>
  <div class="col-xs-12 col-md-4 right-rectangle">
    <span class="step">3</span>
    <p>Download your resume!</p>
    <div class="triangle triangle-right"></div>
  </div>
</div>
<!-- Resume templates -->
<div class="container section-templates">
  <h3 class="template-intro-title">Some of our templates</h3>
  <div class="row carousel-templates">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Finance</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Law</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Design</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Tech</h4>
    </div>
  </div>
  <%= link_to 'Create my resume', editor_path, class: 'custom-btn-big btn-to-editor' %>
</div>
<!-- Reviews -->
<div class="container reviews">
  <h3>We are glad to helped them</h3>
  <div class="row row-reviews">
    <div class="col-xs-12 col-sm-4 review-column">
      <div class="review">
        <img src="https://randomuser.me/api/portraits/thumb/men/44.jpg" alt="#">
        <p>"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type."</p>
        <p><strong>Bob - Web develper</strong></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 review-column">
      <div class="review">
        <img src="https://randomuser.me/api/portraits/thumb/men/44.jpg" alt="#">
        <p>"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type."</p>
        <p><strong>Bob - Web develper</strong></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 review-column">
      <div class="review">
        <img src="https://randomuser.me/api/portraits/thumb/men/44.jpg" alt="#">
        <p>"Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type."</p>
        <p><strong>Bob - Web develper</strong></p>
      </div>
    </div>
  </div>
</div>
