<div class="landing-wrapper">
  <% if user_signed_in? %>
    <%= render 'shared/home_logged_in' %>
  <% else %>
    <%= render 'shared/landing' %>
  <% end %>
</div>
<div class="container section-templates">
  <h3 class="template-intro-title">Pick a template</h3>
  <div class="row carousel-templates">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Finance</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Law</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Design</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="#" class="template"></a>
      <h4>Tech</h4>
    </div>
  </div>
</div>
