/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  margin: 0;
  width: 300px;
  top: 80px;
  right: 50px;
  color: white;
  padding-left: 20px;
  border: none;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
