// Footer
.socials-row {
  background-color: rgba(200, 200, 200, 0.1);
  padding: 30px 0;
  color: $dark-gray;
  h3 {
    text-align: center;
    margin: 12.5px auto;
  };
  .social-links {
    text-align: center;
  };
  a {
    font-size: 36px;
    color: $dark-gray;
    margin: 10px 20px 0 20px;
  }
}

.footer-row {
  padding: 30px 0;
  height: 200px;
  ul {
    list-style: none;
    padding: 0;
  };
  h5 {
    color: $background-banner;
  }
  a {
    color: $dark-gray;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
   .footer-column {
    text-align: center;
   }
}

.copyright {
  text-align: center;
  padding: 30px 0 15px 0;
  font-size: 14px;
  margin: 0;
  color: $dark-gray;
}
