/* Site Navbard */
.navbar-custom {
  position: fixed;
  width: 100vw;
  z-index: 10;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Toggle when scroll down */
.navbar-with-background {
  background-color: $blue;
}

/* Left Logo */
.navbar-custom-brand {
  font-size: 20px;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

/* User Avatar */
.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-custom-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-toggle {
  cursor: pointer;
  color: #fff;
}
/* Basic navbar item */
.navbar-custom-link {
  cursor: pointer;
  padding: 0 20px;
  margin: 0 6px;
  color: #fff;
}

/* Navbar link  with hover effect */
.navbar-custom-right .navbar-custom-link {
  padding: 0 5px;
  margin: 0 25px;
}

.navbar-custom-link {
  font-size: 16px;
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }
}

.navbar-custom-link:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-custom-link:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
}

.navbar-custom-link:hover:before {
  transform: scaleX(1);
}

/* Dropdown menu */
.navbar-custom-dropdown-menu {
  margin-top: 15px;
  border-color: #E6E6E6;
  padding: 5px;
}

.navbar-custom-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: $dark-gray;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 20px;
}

.navbar-custom-dropdown-menu li:hover {
  background: $light-gray;
}

.navbar-custom-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

#logo-linkedin {
  font-size: 25px;
  margin-right: 7px;
}

#loggin-btn {
  height: 42px;
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 13px;
}
