// SECTION

.section {
  &:not(:last-child) {
    margin-bottom: 10px; // Margin separing sections
  }
  * {
    color: $dark-gray;
  }
}

// SECTION HEADER

.section-header {
  cursor: pointer;
  background: $light-blue;
  padding: 20px 25px;
  border-radius: 10px;
  transition: 0.2s;
  transition-delay: 0.35s;
  display: flex;
  justify-content: space-between;
}

.section-header-selected { // When section is clicked
  border-radius: 10px 10px 0 0; // Remove bottom border radius
  transition: none;
}

.section-icon {
  font-size: 25px;
  margin-right: 15px;
}

.chevron {
  font-size: 25px;
  transition-delay: 0.35s;
  transition: 0.2s;
}

.chevron-down {
  transform: rotate(90deg);
  transition-delay: 0s;
}

// SECTION CONTENT

.section-content {
  background-color: white;
  padding: 25px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.section-row {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid $light-gray;
}

.last-section-row { // Override .section-row
  display: flex !important;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.section-attribute { // Contain the label name and the value
  &:not(:last-child) {
    margin-right: 50px;
  }
  h4 {
    margin: 0;
  }
}

.section-attribute-value {
  word-break: break-all;
}

.label-name {
  margin-bottom: 5px;
  color: $blue;
  font-size: 16px;
}
