<!DOCTYPE html>
<html>
  <head>
    <title><%= current_user.first_name %> <%= current_user.last_name %></title>
    <%= wicked_pdf_stylesheet_link_tag "templates/#{current_user.template}" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
